* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 20px 0px;
    position: fixed;
    width: 100%;
}

.nav-bar img {
    width: 140px;
}

.nav-bar a {
    text-decoration: none;
    color: #18191F;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 30px;
    font-family: "Poppins", sans-serif;

}

.nav-bar a:hover {
    border-bottom: 3px solid #6d45e3;
    padding-bottom: 10px;
}

.nav-bar button {
    padding: 10px 20px;
    background-color: #6d45e3;
    color: white;
    border-radius: 20px;
    border: none;
}

.nav-bar select {
    padding: 10px 20px;
    background-color: #f7f6fb;
    border-radius: 10px;
    border: 1px solid #f7f6fb58;
}

.nav-bar svg {
    display: none;
    cursor: pointer;
}

/* HERO SECTION */

.hero-section {
    background-image: url(palmpay-images/imgi_46_Backgrounded7fa1f5-08f5-45.png);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: "Poppins", sans-serif;
    /* padding: 100px 20px; */
    padding-top: 190px;
    padding-bottom: 0;

}

.smarter-way h1 {
    font-size: 60px;
    text-shadow: -5px 6px 0px rgba(0, 0, 0, 0.454);
    color: white;
    line-height: 78px;

}

.smarter-way p {
    font-size: 20px;
    color: white;
    font-weight: 300;
    padding: 50px 0px;
    font-size: 24px;
}

.phone-image img {
    height: 585px;
    width: 420px;
    /* display: block; */
    object-position: top;
    object-fit: cover;
}

.phone-image {
    display: flex;
    align-items: flex-end;
    /* This forces the phone image to sit exactly on the bottom edge */
    height: 100%;
    margin-left: -90px;
    margin-top: -70px;
}

.banner {
    width: 100%;
    background-color: #6f07c0;
    padding: 20px 0px;
    margin-top: -3px;


}

.banner img {
    display: block;
    width: 790px;
    margin: 0 auto;
}

/* BUILT FOR PEOPLE GOING PLACES */

.built-for-people {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
}

.built-for-people h2 {
    font-size: 49px;
    letter-spacing: -2px;
    color: #490181;
    font-family: sans-serif;
    font-weight: 770;
    text-shadow: 0px 4.05px 4.1px rgba(0, 0, 0, 0.289);
}

.going-places {
    background-image: url(./palmpay-images/imgi_49_topBannerBGa32288f7-2d2c-48.png);
}

.built-for-people p {
    font-size: 26px;
    color: #8F00FF;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding: 10px 0px;
    letter-spacing: 1%;

}

.purple-div {
    background-color: #490181;
    border-radius: 40px;
    box-shadow: 1px 13px 1px #fdd94b;
    padding: 30px 30px;
    margin: 20px 10px;
    width: 100%;
    max-width: 595px;
    height: 130px;
}

.purple-div h3 {
    color: white;
    font-size: 21px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
}

.purple-div p {
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}


.three-purple-div {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.skating-div {
    display: flex;
    justify-content: space-evenly;

}

.skating-div img {
    width: 450px;
    margin-left: -190px;
}

.stop-paying {
    margin-left: 10px;
}

#displaynone{
    display: none;
}

.stop-paying h3 {
    color: #490181;
    font-size: 50px;
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.117);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    padding: 45px 0px 40px;
    /* padding-bottom: 40px; */
    line-height: 62px;
}

.stop-paying p {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: #490181;
    text-shadow: 1px 5px 1px rgba(0, 0, 0, 0.117);
    padding: 25px 0px 60px;
    /* padding-bottom: 60px; */
    line-height: 40px;
}

.success-rate {
    background-color: #8f00ff;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 7px 7px 1px #feb60b;
    border: none;
    color: white;
    /* margin: 20px; */
    font-family: "Poppins", sans-serif;
}

.to-send-money img {
    width: 520px;
    height: 500px;
    border-radius: 50px;
    object-fit: cover;

}

.to-send-money {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 0px;
    background-color: #f1f0fe;
}

.earn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    padding: 100px 50px;
    background-image: url(./palmpay-images/imgi_49_topBannerBGa32288f7-2d2c-48.png);
}

.earn img {
    width: 80%;
    height: 500px;
    border-radius: 50px;
    object-fit: cover;
}

.on-your-savings h3 {
    color: #490181;
    font-size: 50px;
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.117);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    padding-bottom: 40px;
    line-height: 62px;
    text-align: right;
}

.on-your-savings p {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: #490181;
    text-shadow: 1px 5px 1px rgba(0, 0, 0, 0.117);
    /* padding:  0px 40px; */
    padding-bottom: 60px;
    line-height: 36px;
    text-align: right;
}

.on-your-savings {
    margin-left: -80px;
}

.safe-space h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #490181;
    padding-top: 30px;
    text-shadow: 1px 5px 2px rgba(0, 0, 0, 0.132);
}

.CBN {
    text-align: center;
    /* padding: 10px 30px; */
}

.two-hrs {
    display: flex;
    justify-content: center;
    /* padding: 20px 0px; */
}

.CBN h3 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: #4D0683;
    margin: 24px 0 10px;
    text-align: center;
}

.CBN p {
    font-size: 16px;
    line-height: 25.6px;
    color: #490181;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: -4%;
    text-align: center;
    padding: 0px 84px;
}

.vertical-line {
    border: 1px solid #490181;
    height: 170px;
    align-self: last baseline;
    margin-top: 40px;
}

.safe-space {
    padding: 50px 0px 90px;
    background-color: #f8f9fe;
}

.loved {
    text-align: center;
}

.loved h3 {
    font-size: 40px;
    color: #4D0683;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.loved p {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    color: #4D0683;
    font-weight: 400;
    line-height: 28.6px;
    padding: 30px 0px 10px;
}

.reviews {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px 420px;

}

.review-section {
    background-color: #e6c5fe;
    padding: 70px 0px;

}

.first-review {
    background-color: white;
    padding: 50px;
    width: 100%;
    border-radius: 50px;
}

.second-review {
    background-color: white;
    padding: 30px;
    width: 100%;
    border-radius: 50px;
}

.download img {
    width: 150px;
}

.download {
    display: flex;
    justify-content: center;
    gap: 70px;
}

/* DOWNLOAD PALMPAY */

.download-palmpay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
    padding: 60px 0px 0px;
    background-image: url(./palmpay-images/imgi_49_topBannerBGa32288f7-2d2c-48.png);
    /* to pin the image and allow the text to scroll over it */
    background-attachment: fixed;
    margin-bottom: -5px;
}

.download-palmpay-image img {
    width: 450px;
    height: 640px;
    object-fit: cover;
    align-items: flex-end;
}



.now p {
    font-size: 43px;
    font-family: "Poppins", sans-serif;
    color: #490181;
    /* text-shadow: 1px 5px 1px rgba(0, 0, 0, 0.117); */
    /* padding:  0px 40px; */
    /* padding-bottom: 60px; */
    line-height: 53px;
    text-align: left;
    /* margin: 0px 0px 10px; */
    font-weight: 700;
}

/* .now{
    margin-left: -80px;
} */

.download-app {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.download-app img {
    width: 180px;
    margin-top: 30px;

}

/* PALMPAY USERS */

.palmpay-users {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 0px;
}

.palmpay-users h2 {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
}

.palmpay-users span {
    font-size: 42px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: white;
}

.palmpay-users {
    background-image:
        url(./palmpay-images/imgi_54_footerBg.0ehbqz15_4v0l.png), linear-gradient(91deg, #341d77 -6.5%, #7f46db 106%);
    background-size: cover;
    background-position: center;
    padding: 40px 100px;
}

/* FOOTER */

.footer-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-images img {
    width: 150px;
}

.footer-list {
    display: flex;
    justify-content: center;
    gap: 130px;
}

.footer-list h5 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 12px;
}

.footer-list li {
    color: #D9DBE1;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 6px 0px;
    list-style: none;
    line-height: 24px;
}

.footer-icons {
    display: flex;
    justify-content: right;
    gap: 20px;
}

.footer-icons img {
    width: 25px;
}

.footer-copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 50px 0;
    gap: 310px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

footer {
    background-color: #1e1e1e;
    padding: 50px 0px;
}

.footer-line {
    width: 100%;
    border: 1px solid #ffffff56;

}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 1200px) {
    .reviews {
        padding: 30px 50px;
    }

    .footer-list {
        gap: 40px;
        flex-wrap: wrap;
        padding: 0 40px;
    }

    .footer-copyright {
        gap: 50px;
        flex-wrap: wrap;
        padding: 50px 40px;
    }

    footer>div:last-child {
        padding: 20px 40px !important;
    }
}

@media screen and (max-width: 992px) {
    .hero-section {
        flex-direction: column;
        align-items: center;
        padding-top: 130px;
    }

    .smarter-way {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 20px;
    }

    .smarter-way>div:last-child {
        gap: 20px !important;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .phone-image {
        margin-left: 0;
        margin-top: 40px;
    }

    .skating-div {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .skating-div img {
        margin-left: 0;
        max-width: 100%;
        margin-top: 30px;
    }

    .three-purple-div {
        width: 100%;
    }

    .to-send-money,
    .earn {
        flex-direction: column;
        padding: 50px 20px;
        gap: 30px;
    }

    .on-your-savings {
        margin-left: 0;
        text-align: center;
    }

    .on-your-savings h3,
    .on-your-savings p,
    .now p {
        text-align: center;
    }

    .stop-paying {
        margin-left: 0;
        text-align: center;
    }

    .to-send-money img,
    .earn img {
        width: 100%;
        height: auto;
    }

    .download-palmpay {
        flex-direction: column;
        gap: 40px;
        padding: 50px 20px;
        background-attachment: scroll;
    }

    .download-palmpay-image img {
        width: 100%;
        height: auto;
    }

    .palmpay-users {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px 20px;
    }
}

@media screen and (max-width: 768px) {
    .nav-bar {
        justify-content: space-between;
        padding: 15px 20px;
        z-index: 99;
    }

    .nav-bar>div:nth-child(2),
    .nav-bar button {
        display: none;
    }

    .nav-bar svg {
        display: block;
    }

    .banner img {
        width: 100%;
        padding: 0 20px;
    }

    .loved {
        text-align: center;
    }

    .loved h3 {
        font-size: 40px;
        color: #4D0683;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
    }

    .loved p {
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        color: #4D0683;
        font-weight: 400;
        line-height: 28.6px;
        padding: 30px 0px 10px;
    }

    .safe-space>div:nth-child(2) {
        flex-direction: column;
        gap: 30px !important;
        padding: 30px 20px !important;
    }

    .two-hrs {
        flex-direction: column;
        gap: 40px;
        padding: 0 20px;
    }

    .vertical-line {
        display: none;
    }

    .reviews {
        flex-direction: column;
        padding: 30px 20px;
    }

    .footer-list {
        flex-direction: column;
        text-align: center;
    }

    .footer-images {
        align-items: center;
    }

    .footer-copyright {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .smarter-way h1 {
        font-size: 40px;
        line-height: 52px;
    }

    .smarter-way p {
        font-size: 18px;
        padding: 30px 0;
    }

    .built-for-people h2 {
        font-size: 32px;
    }

    .built-for-people p {
        font-size: 18px;
    }

    .stop-paying h3,
    .on-your-savings h3 {
        font-size: 32px;
        line-height: 42px;
    }

    .stop-paying p,
    .on-your-savings p {
        font-size: 18px;
        line-height: 28px;
    }

    .purple-div {
        height: auto;
    }

    .success-rate {
        font-size: 16px;
        padding: 15px;
    }

    .now p {
        font-size: 32px;
        line-height: 42px;
    }

    .loved {
        text-align: center;
    }

    .loved h3 {
        font-size: 25px;
        color: #4D0683;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
    }

    .loved p {
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        color: #4D0683;
        font-weight: 400;
        line-height: 28.6px;
        padding: 30px 0px 10px;
    }

    .download img {
        width: 120px;
    }

    .download {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .safe-space h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #490181;
    padding-top: 30px;
    text-shadow: 1px 5px 2px rgba(0, 0, 0, 0.132);
}

    .safe-space img{
        width: 60px !important;
        object-fit: cover;
    }

    #displaynone img {
    /* width: 520px;
    height: 500px; */
    border-radius: 50px;
    object-fit: cover;

}

    #displaynone {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
    /* padding: 100px 0px; */
    background-color: #f1f0fe;
}
}
